ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}
li{
      padding: 4px 12px;
      box-shadow: 2px 2px 10px grey;
      color: white;
}
li:hover{
      cursor: pointer;
      box-shadow: 2px 2px 10px rgba(207, 207, 207, 0.705);
}

a{
      color:white;
}
