:root {
  /* VARIABLES */
  /* colors */
  --main-color: #333333;
  --box-color: #202020;
  --box-shadow-color: #999999;
  --main-font-color: #ffffff;
  --secondary-font-color: #e6e6e6;
  --alert-color: #ff0000;
  --success-color: #00ff00;
  --separator-color: #cccccc;
  --secondary-color: #f5f5f5;
  --reserve-color: #00a9e0;
  --left-color: #f0f0f0;

  /* sizes */
  font-size: 16px;
  --x: 100vw;
  --y: 100vh;

  /* FONTS */

  /* --font-family-primary: 'Open Sans', sans-serif;
  --font-family-secondary: 'Roboto', sans-serif;
  --font-family-tertiary: 'Lato', sans-serif;
  --font-family-quaternary: 'Montserrat', sans-serif;
  --font-family-quinary: 'Raleway', sans-serif; */
  font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* MAIN PAGE PARAMETERS */
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: var(--main-color);
  color: var(--main-font-color);
}

/* GENERALL STYLING */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#root {
  /* all html body under js influence */
  font-size: clamp(10px, 1rem, 26px);
  padding: 10px;
}

h2,
h4 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: clamp(32px, 5vw, 60px);
}

h4 {
  font-size: clamp(16px, 3vw, 34px);
}

/* HEADER */
header {
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
  gap: clamp(5px, 5vw, 15px);
}

#logo {
  width: clamp(20px, 15vw, 50px);
  align-self: center;
  justify-self: baseline;
  border-radius: 50%;
  filter: drop-shadow(0 0 5px var(--box-shadow-color))
}

/* MAIN */
main {
  padding-top: 10px;
  margin: 0 auto;
}

/* Entrie */
/* form  */
form {
  background: var(--box-color);
  /* width: calc(var(--x)-(var(--x)/3)); */
  padding: 4px;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* justify-content: center;
  align-items: center; */
}

.full-grid-row {
  grid-column: 1/-1;
  justify-self: start;
}

form label {
  justify-self: end;
  /* width: calc(var(--x)/4); */
  /* background-color: var(--box-shadow-color); */
  border: 1px solid var(--box-color);
  border-radius: 10px 0 0 10px;
  border-right: 0px;
  padding: 0px 5px;
}

form input,
form select {
  justify-self: start;
  width: calc(var(--x)/5);
  background-color: var(--box-color);
  border: 1px solid var(--box-color);
  border-radius: 0 10px 10px 0;
  padding: 2px 5px;
  border-left: 0px;
  color: var(--main-font-color);
}

[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.controll {
  width: 24px;
  filter: invert(1);
}

input[type="checkbox"] {
  color: blue;
  width: 40px;
}

/* .entrie-form-input,
.entrie-form-label{
  background-color: var(--box-color);
  color: var(--main-font-color);
} */
.entrie-form-input {
  font-weight: 700;
  border-bottom: 1px solid var(--separator-color);
  border-radius: 0;
}

.entrie-form-label {
  justify-content: right;
}

.documentsGroup {
  margin: 10px 0;
  padding: 10px;
  width: 620px;
  border: 1px solid grey;
  border-radius: 12px;
}

textarea {
  /* width: calc(var(--x)/2); */
  height: 50px;
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--box-color);
  border-left: 0px;
}

.arrow-up {
  transform: rotate(180deg);
}

.spread-box {
  width: 10px;
  filter: invert(1);
}

/* BUTTONS */
button {
  margin: 5px;
  width: calc(var(--x)/15);
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  background: var(--box-color);
  color: var(--main-font-color);
}

button:hover {
  background-color: var(--separator-color);
  cursor: pointer;
}

button:active {
  background-color: var(--reserve-color);
}

.delete-button {
  color: var(--alert-color);
}

.edit-button {
  color: var(--success-color);
}

/* TABLES */
table {
  text-wrap: wrap;
  max-width: 90vw;
  border-collapse: collapse;
  margin: 0 auto;
}

thead {
  font-weight: 900;
}

table tr:nth-of-type(odd) {
  background-color: rgb(162, 162, 162);
}

td {
  border: 1px solid rgb(119, 119, 119);
  text-align: center;
}

td img {
  max-width: 100px;
}





.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu img {
  width: 30px;
  filter: drop-shadow(2px 2px 5px var(--separator-color));
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  padding: 4px 12px;
  margin: 0 4px;
  /* box-shadow: 2px 2px 10px grey; */
  color: white;
}

li:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(207, 207, 207, 0.705);
}

a {
  color: white;
}

/* FOOTER */
footer {
  padding-top: 50px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  /* 15% from the top and centered */
  text-align: center;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.modal input {
  font-size: 1.2rem;
}

.search img {
  width: 20px;
  padding: 0 5px;
}

.modal_ul {
  margin: 0 auto;
  padding-top: 15px;
  width: 75vw;
}

.modal_ul il {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.modal_ul img {
  max-width: 100px;
  max-height: 20px;
}

.modal-add {
  filter: invert(1);
}

.supplier-modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.supplier-modal-form input {
  border-bottom: 1px solid var(--main-font-color);
  border-radius: 0;
}

.clicable{
  cursor: pointer;
}