body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f7ff;
  font-family: 'Josefin Sans', sans-serif;
}

:root{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container{
  width:1000px;
  margin: 20px auto;
  background-color: #435ad0;
  box-shadow: 2px 2px 10px lightgrey;
  border-radius: 20px;
  padding-bottom: 20px;
}