/* General characteristics */
.module{
      all:unset;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
body{
      max-width: 1400px;
      min-width: 400px;
      background-color: white;
      font-family: Arial, Helvetica, sans-serif; 
      /* reikia keisti font-family pasižiūrėti koks yra jau darytame projekte su kalnedoriumi. */
      font-size: 16px;
}
/* @media (600px<=width<=1200px){
      body{
            background-color: rgb(176, 48, 48);
            https://www.youtube.com/watch?v=JJtqBwbTQdM
      }
} */
