table{
      border-collapse: collapse;
}
thead{
      font-weight: 900;
}
table tr:nth-of-type(odd){
      background-color: antiquewhite;
      width: 100vw;
}

td{
      border: 1px solid black;
      text-align: center;
}
td img{
   max-width: 100px;
}